#Apple Desktop Services Store
.DS_Store
#JetBrains WebStorm specific project settings
.idea/
node_modules
package-lock.json
#distribution folder(.js)
backend/dist/*
#hide dotenv vars
*.env
!.env.template