@import "themes/colors";
@import "utils/breakpoints";
@import "utils/mixins";
@import "utils/keyframes";


.routerlink {
  display:inline-block;
  color: map-get($theme-colors, primary);
  &:hover {
    color: map-get($theme-colors, secondary);
    font-weight: bold;
  }
  &:active{
    color:map-get($theme-colors, tertiary)
  }
}

.card {
  @include mobile-only {
    width: 100vh;
  }
;
  @include tablet-only {
    width: 100vw;
  }
;
  @include desktop-only {
    width: 100vw;
  }
;
}

.profile-pic {
  width: 2.5rem;
  height: 2.5rem;
}

@import "~bootstrap/scss/bootstrap";
