$theme-colors: (
        'primary': #D15059,
        'secondary': #AEAEB0,
        'tertiary': #091E43,
        'light': lighten(#AEAEB0, 27.5%)
);

//responsive---------------------------------------------------------------------------------
$breakpoints: (
        mobile: 375px,
        tablet: 768px,
        desktop: 1280px,
        widescreen: 1440px,
);
@mixin mobile-only {
  @media screen and (min-width: map-get($breakpoints, mobile)) and (orientation: landscape) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}

@mixin widescreen-only {
  @media screen and (min-width: map-get($breakpoints, widescreen)) {
    @content;
  }
}

// END responsive---------------------------------------------------------------------------------

.routerlink {
  color: map-get($theme-colors, primary);
  &:hover {
    color: map-get($theme-colors, secondary);
  }
}

.card {
  @include mobile-only {
    width: 100vw;
  }
;
  @include tablet-only {
    width: 75vw;
  }
;
  @include desktop-only {
    width: 50vw;
  }
;
}


.profile-pic {
  width: 2.5rem;
  height: 2.5rem;
}


//.container {
//  height: 100rem;
//  //background-image: url("");
//  background-repeat: no-repeat;
//  background-position: center;
//  background-size: cover;
//}
//
//.welcome {
//  height: 100vh;
//}
//
//.perso-link{
//  text-decoration: none;
//  color: #AEAEB0;
//  margin-left: 1em;
//  margin-right: 1em;
//  &:hover{
//    color: $primary
//  }
//  &:not(:last-child)::after{
//    //content: "|";
//  }
//}
//.router-link-active {
//  font-weight: bold;
//  color:#091E43;
//}
//
//.rounded {
//  &-pill {
//    &_right {
//      border-top-right-radius: 50rem !important;
//      border-bottom-right-radius: 50rem !important;
//    }
//
//    &_left {
//      border-top-left-radius: 50rem !important;
//      border-bottom-left-radius: 50rem !important;
//    }
//  }
//}


@import "~bootstrap/scss/bootstrap";
