//$theme-colors: (
//        "primary": #D15059,
//        "secondary": #091E43,
//        "light": #AEAEB0
//);
//
//.container {
//  height: 100rem;
//  //background-image: url("");
//  background-repeat: no-repeat;
//  background-position: center;
//  background-size: cover;
//}
//
.profile-pic {
  width: 2.5rem;
  height: 2.5rem;
}

.welcome {
  height: 100vh;
}

//
//.rounded {
//  &-pill {
//    &_right {
//      border-top-right-radius: 50rem !important;
//      border-bottom-right-radius: 50rem !important;
//    }
//
//    &_left {
//      border-top-left-radius: 50rem !important;
//      border-bottom-left-radius: 50rem !important;
//    }
//  }
//}

@import "~bootstrap/scss/bootstrap";
