@import "~bootstrap/scss/bootstrap";
$custom-colors: (
        "primary": #D15059,
        "secondary": #091E43,
        "muted": #AEAEB0
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


.container {
  height: 100rem;
  background-image: url("./../src/assets/logos/icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  background-color: $primary;
  &-brand img{
    width: 10rem;
  }
}
